@import url(https://fonts.googleapis.com/css?family=League+Spartan:100,200,300,regular,500,600,700,800,900);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan';
}

body{
    /* position: relative; */
    height: 100vh;
    overflow: hidden;

}

main{
    width: 80%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: 0 auto;
}


#top{
    position: absolute;
    margin-left: -8rem;
}

#last{
    position: absolute;
    margin-top: -10rem;
    margin-left: 17rem;
}

.head-l{
    display: flex;
    flex-direction: column;
    width: 380px;
}

h1{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    /* width: 250px; */
    margin-bottom: 20px;
}

.head-l p{
    color: hsl(303, 10%, 53%);
    font-weight: 500;
    line-height: 20px;
    font-size: 15px;
}

.head{
    display: flex;
    column-gap: 140px;
    margin-bottom: 60px;
    padding-top: 4rem;
}

.head-r{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.rating1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 380px;
    padding-right: 30px;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
    column-gap: 25px;
    position: absolute;
   
}

.star{
    display: flex;
    column-gap: 5px;
}

.rate{
    color: hsl(300, 43%, 22%);
    font-size: 15px;
    font-weight: 700;
}

.rating2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 380px;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
    column-gap: 25px;
    position: absolute;
    margin-left: 40px;
    margin-top: 60px;
}

.rating3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 380px;
    padding-right: 30px;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
    column-gap: 25px;
    position: absolute;
    margin-top: 120px;
    margin-left: 80px;
}

.pic{
    border-radius: 100%;
    height: 40px;
}

.bottom{
    display: flex;
}

.box-1{
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    padding: 35px 30px;
    width: fit-content;
    position: absolute;
}

.box-2{
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    padding: 35px 30px;
    position: absolute;
    margin-left: 340px;
    margin-top: 20px;
}

.box-3{
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    padding: 35px 30px;
    position: absolute;
    margin-left: 670px;
    margin-top: 40px;
}

.profile{
    display: flex;
    align-items: center;
    column-gap: 25px;
    margin-bottom: 30px;
}

.name{
    line-height: 20px;
}

.name p{
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

.name h4{
    font-weight: 500;
}

.text{
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
}
